* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

.hotels-header > h1 {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.hotels-body {
    margin: auto;
    max-width: 90%;
}

.hotel-item {
    padding: 16px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 85%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 0px 0px hsl(290, 1%, 91%);
}

.responsive {
    max-width: 50%;
    width: 200px;
    height: auto;
}

.hotel-name-container {
    max-width: 300px;
    width: 250px;
}

.hotel-name {
    text-transform: uppercase;
    color: hsl(193, 92%, 21%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
}

.hotel-description-container {
    max-width: 300px;
    width: 250px;
    padding-top: 10px;
}

.hotel-description {
    text-transform: lowercase;
    font-size: 20px;
    display: block;
}

.hotel-phone-container {
    max-width: 300px;
    width: 250px;
    padding-top: 10px;
}

.hotel-phone {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.hotel-stars {
    max-width: 100px;
    width: 250px;
}