body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.content-wrapper {
    display: flex;
    justify-content: flex-start;
}

.character-row {
    cursor: pointer;
}

.quotes {
    background-color: mistyrose;
    width: 30%;
    padding: 2em;
    margin-left: 6em;
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
}

.text-quote {
    font-style: italic;
    font-weight: bold;
    margin-right: 1em;
}

#character-detail {
    position: fixed;
    right: 0;
    padding: 25px;
    background-color: #666;
    color: white;
    font-size: 140%;
    height: 100vh;
}

.thumbnail {
    border-radius: 50%;
    margin: 15px;
    vertical-align: middle;
}